/* Colors
	Main background #a0a0a0
	
	Links and Page Title #40a040
 */

/* Defaults */
html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	top: 0px;
	bottom: 0px;
}
body {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	font-style: none;
	text-decoration: none;
	color: #000;
	background: #a0a0a0;
}
div {
	margin: 0px;
	padding: 0px;
}
/* Headers */
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
	font-style: none;
	font-weight: normal;
	text-decoration: none;
}
h1 {
	/* Web/App title */
	font-size: 37px;
	font-weight: bold;
	text-align: center;
	color: #404040;
}
h2 {
	/* Page Title */
	margin-bottom: 10px;
	padding: 5px;
	border-bottom: 2px solid #808080;
	border-radius: 3px;
	box-shadow: 0px 3px 4px #808080;
	font-size: 31px;
	font-weight: bold;
	color: #40a040;
}
h3 {
	/* Item Title */
	border-bottom: 2px solid #808080;
	font-size: 25px;
	color: #50b050
}
h4 {
	/* Item Subtitle */
	margin-bottom: 5px;
	border-bottom: 1px solid #808080;
	font-size: 21px;
	font-style: italic;
	color: #60c060;
}
h5 {
	font-size: 19px;
}
h6 {
	font-size: 17px;
}
/* Main Wrappers */
#wrpMain {
	margin: 0px 250px;
	min-width: 600px;
	background: none;
}
#wrpHeader {
	margin-bottom: 15px;
	padding: 0px 15px 15px;
	border: 2px solid #808080;
	border-top: 0px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	/* GRADIENT */
	background: #9dd53a; /* Old browsers */
	background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 31%, #80c217 60%, #7cbc0a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(31%,#a1d54f), color-stop(60%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 31%,#80c217 60%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9dd53a 0%,#a1d54f 31%,#80c217 60%,#7cbc0a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9dd53a 0%,#a1d54f 31%,#80c217 60%,#7cbc0a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 31%,#80c217 60%,#7cbc0a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
}
#wrpNavigation {
	margin-bottom: 15px;
	padding: 0px 15px;
	border: 2px solid #808080;
	border-radius: 3px;
	background: #fff;
}
#wrpNotification {
	margin-bottom: 15px;
	padding: 10px;
	border: 2px solid #B20000;
	border-radius: 3px;
	/* GRADIENT */
	background: #f5642b; /* Old browsers */
	background: -moz-linear-gradient(top, #f5642b 0%, #f87a5a 28%, #fbad9b 62%, #f8704a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5642b), color-stop(28%,#f87a5a), color-stop(62%,#fbad9b), color-stop(100%,#f8704a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f5642b 0%,#f87a5a 28%,#fbad9b 62%,#f8704a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f5642b 0%,#f87a5a 28%,#fbad9b 62%,#f8704a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f5642b 0%,#f87a5a 28%,#fbad9b 62%,#f8704a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f5642b 0%,#f87a5a 28%,#fbad9b 62%,#f8704a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5642b', endColorstr='#f8704a',GradientType=0 ); /* IE6-9 */
}
#wrpContent {
	margin-bottom: 25px;
	padding: 15px;
	border: 2px solid #808080;
	border-radius: 3px;
	background: #fff;
	overflow: auto;
}
#wrpFooter {
	margin-bottom: 15px;
	padding: 15px;
	bottom: 0px;
	border: 2px solid #808080;
	border-radius: 3px;
	background: #fff;
}
#wrpSidebar {
	position:fixed;
	margin-top: 75px;
	margin-left: 15px;
	padding: 15px;
	width: 166px;
	border: 2px solid #808080;
	background: #fff;
	border-radius: 3px;
	/*opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}


/* Navigation */
#ctrlMenu {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#ctrlMenu li {
	display: inline-table;
	margin: 5px;
}
#ctrlMenu a , #ctrlMenu a:visited{
	display: block;
	padding: 5px;
	border: 2px solid #808080;
	border-radius: 3px;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	color: #808080;
}
#ctrlMenu a:hover {
	color: #40a040;
	border-color: #40a040;
}
/* Notification */
.ctrlNotificationTitle {
	font-weight: bold;
}
.ctrlNotificationText {
	font-style: italic;
}
/* Content */
.wrpItem {
	margin-bottom: 10px;
	padding: 5px;
	border-bottom: 2px solid #808080;
	border-radius: 3px;
	box-shadow: 0px 3px 4px #808080;
}
/* Item: Text */
.ctrlItemText {
	margin-left: 3px;
	padding-left: 3px;
	border-left: 2px solid #808080;
}
/* Item: Table */
.ctrlItemTable {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border: 2px solid #808080;
}
.ctrlItemTable th, .ctrlItemTable td {
	padding: 5px;
	border: 1px solid #a0a0a0;
}
.ctrlItemTable th {
	background: #40a040;
	color: #fff;
}
.ctrlItemTable td {
	
}

/* Item: Signature */
.ctrlItemSignature {
	margin-top: 5px;
	padding: 3px;
	border-top: 1px solid #808080;
	font-size: 11px;
	text-align: right;
}
.ctrlItemSignatureName {
	font-weight: bold;
}
.ctrlItemSignatureDate {
	font-style: italic;
}
/* Item: List */
.ctrlItemOList, .ctrlItemUList {
	margin: 0px;
	margin-bottom: 5px;
	padding: 5px;
	padding-left: 20px;
}
.ctrlItemUList {
	list-style: square;
}
.ctrlItemOList {
	list-style: decimal;
}
.ctrlItemOList li, .ctrlItemUList li {
	font-size: 17px;
}
/* Item: Form */
.ctrlItemForm input[type="text"],
.ctrlItemForm input[type="password"],
.ctrlItemForm select {
	margin: 3px;
	padding: 3px;
	border: 1px solid #808080;
	border-radius: 3px;
	width: 256px;
}
.ctrlItemFormGroup {
	border: 1px solid #808080;
	border-radius: 3px;
}
/* Footer */
#ctrlSignature {
	margin: 0px;
	padding: 0px;
	font-size: 13px;
}
#ctrlCopyrights {
	margin:  0px;
	padding: 0px;
	font-size: 11px;
}
/* Sidebar */
.ctrlSidebarLink, .ctrlSidebarLink:visited {
	margin: 5px;
	padding: 5px;
	display: block;
	text-decoration: none;
	text-align: center;
	color: #808080;
	border-radius: 3px;
	background: #404040;
} 
.ctrlSidebarLink:hover {
	color: #fff;
	background: #808080;
}
/* DEBUG */
#wrpDebug {
	display: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #000;
	color: #40a040;
}
#wrpDebug span:first-child {
	color: #a0a040;
}